<!DOCTYPE html>
<html>
	<head>
		<title>Estações de Bicicleta em Porto Alegre</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>

		<div id="mapContainer" style="width:50%; height:50%;" class="container">
		</div>

		<div class="modal-marker-template">
			<h2 id="name">{{Name}}</h2>

			<p id="number">Seu número é {{Number}}.</p>
		</div>

		<form id="sendAMessage" action>
			<input type="text" placeholder="Digite aqui sua mensagem." name="text" id="text">
			<input type="submit" value="Enviar mensagem">
		</form>

		<div id="chat"></div>

		<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyCa3C5eOahcfE77jpNAGcA079U99lDWYiI"></script>
		<script type="text/javascript" src="js/constants.js"></script>
		<script type="text/javascript" src="js/bikestation-datapoa-configuration.js"></script>
		<script type="text/javascript" src="js/location.js"></script>
		<script type="text/javascript" src="js/load-datapoa.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript">
			(function() { window.location.protocol="http"; })()
			$('#sendAMessage').submit(function(e){
				var $text = $('#text').val();
				$.post('http://localhost:3001/posts', {'text': $text});
				loadChat();
				e.preventDefault();
			});

			var loadChat = function() {
				$('#chat').empty();
				$.get('http://localhost:3001/posts').success(function(dt) {
					dt.forEach(function(d) {
						$('#chat').append('<p>' + d.text + '</p><button onclick="' + `removerData(${d.id})` + '">Remover anotação</button>');
					});
				});
			};
			loadChat();

			var removerData = function(idThis) {
				$.ajax({
					url: `http://localhost:3001/posts/${idThis}`,
					type: 'DELETE',
					contentType:'application/json'
				}).success(function() {
					loadChat();
				})
			}
		</script>
	</body>
</html>
