html, body, #mapContainer {
  height: 100vh;
  padding: 0px;
}

.modal-marker-template {
  display: none;
  margin: auto;
}

.formings {
  display: inline-block;
  height: 100%;
  margin-right: 10%;
}